/* src/Componentes/Features/PetCard/pet-card.module.css */
.card {
  background-color: var(--card-background);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden; /* Para a imagem se ajustar */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.imageWrapper {
  width: 100%;
  height: 250px;
  position: relative;
}

.imageWrapper img {
  object-fit: cover; /* Faz a imagem cobrir o espaço */
}

.content {
  padding: 1.5rem;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.detail {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 0.25rem;
}